@font-face {
    font-family: 'Wemakeprice-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Wemakeprice-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html, body {
    overflow-x: hidden;
}

body {
    background-color: #00203FFF;
}

.key, .plain,.cryptogram, .copy, .init, .result, .decryption, .encryption {
    position: relative;
    height: 40px;
    outline: none;
    border: none;
    border-radius: 10px;
    padding: 5px 5px 5px 5px;
    font-family: 'Wemakeprice-Bold';
}

.key, .plain,.cryptogram, .result {
    width: 50%;
    margin-left: 20%;
}

.copy, .init {
    width: 50%;
}
.decryption, .encryption, .copy, .init {
    height: 50px;
    background-color:  #ADEFD1FF;
}

.result {
    width: 50%;
    background-color: white;
    outline: none;
    border: none;
    padding: 5px 5px 5px 5px;
    height: 100px;
    word-break:break-all;

}

.bottons {

    position: relative;
    left: 20.22223333%;
}
